* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
/* Top Location and Login SignUp Section */
.location_login {
  padding: 10px 0;
  width: 90%;
  height: 42px;
  max-width: 1280px;
  margin: 0 auto;
}
.location {
  float: left;
  width: 50%;
}
.loc_ico {
  text-decoration: none;
}
.loc_i {
  color: #333333;
}
.loc_txt {
  display: inline-block;
  font-size: 12px;
  color: #333333;
  margin-left: 8px;
  font-weight: 400;
}
/* Select , Login , Sign Up Section */

.sign_sec {
  float: right;
  width: 50%;
  text-align: right;
}
.slct {
  border: none;
  margin: 0 10px;
  font-size: 12px;
  background-color: #fff;
}
.login {
  color: #002603;
  padding: 8px 15px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
}
hr {
  width: 100%;
}

/* Logo,Search Section */

.navbar_cont {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo_img {
  max-width: 30px;
  max-height: 30px;
}
.logo_h {
  font-size: 20px;
  font-weight: 600;
  color: #002603;
  margin-left: 10px;
}
/* Search Bar */
.search {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_input {
  width: 33%;
  max-width: 400px;
  height: 40px;
  border: 1px solid #333333;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}
.search_btn {
  width: 100px;
  height: 40px;
  background: #00b207;
  border: none;
  border-radius: 0px 3px 3px 0px;
  margin-left: -4px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Add To Cart */
.addto_cart {
  display: flex;
  align-items: center;
}
.loved {
  font-size: 30px;
  font-weight: 400;
  margin-right: 10px;
}
.line {
  width: 1px;
  height: 30px;
  background: #333333;
  margin: 10px 10px 10px 0px;
}
.cart_count {
  display: flex;
  margin: 0px 10px;
}
.heart_icon {
  text-decoration: none;
  color: #333333;
}
.cartico {
  font-size: 30px;
}
.count {
  width: 20px;
  height: 20px;
  background: #00b207;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
  margin-top: -5px;
}
.scart {
  float: right;
  width: 90px;
}
.s_cart_h {
  font-size: 12px;
  font-weight: 400;
}
.price {
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}

/* Navigation Bar Starts Here */
.nav_cont {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  display: flex;
  background: #1a1a1a;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}
.navbar {
  width: 90%;
  max-width: 1280px;
  padding: 20px 0px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1a1a1a;
}
ul li,
a {
  list-style: none;
  text-decoration: none;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
}
ul li {
  padding: 15px 15px;
}
ul li a:hover,
.active_home {
  color: #fff;
}
.nav_arr {
  margin-left: 5px;
}

/* Call To Action On Top */
.call_now_top {
  width: 150px;
  height: 50px;
  color: #ffff;
  display: flex;
  align-items: center;
}
.call_now {
  color: #fff;
}
.call_ico {
  margin-right: 5px;
}

/* Top Image Slider */
.image_top_Slider {
  width: 90%;
  max-width: 1280px;
  height: 500px;
}
.center_d {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}
.sec_1 {
  background-size: cover;
  background-image: url(./img/head_img_1.jpg);
}
.sec_2 {
  background-size: cover;
  background-image: url(./img/bg_big.jpg);
}
.sec_3 {
  background-size: cover;
  background-image: url(./img/head_3.jpg);
}

/* Responsive Design */
@media (max-width: 575.98px) {
  .loc_txt {
    display: none;
  }
  .slct {
    border: none;
    margin: 0 4px;
    font-size: 10px;
  }
  .login {
    color: #002603;
    padding: 0px 3px;
    font-size: 10px;
    font-weight: 500;
    margin-left: 5px;
  }
  .container {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 20px px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  .logo_img {
    max-width: 20px;
    max-height: 20px;
  }
  .logo_h {
    font-size: 15px;
    font-weight: 600;
    color: #002603;
    margin-left: 5px;
  }
  /* Search Bar */
  .search {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .search_input {
    width: 70%;
    max-width: 250px;
    height: 40px;
    border: 1px solid #333333;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
  }
  .search_btn {
    width: 40px;
    height: 40px;
    background: #00b207;
    border: none;
    border-radius: 0px 3px 3px 0px;
    margin-left: -4px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  /* Add To Cart */
  .loved {
    display: none;
  }
  .line {
    display: none;
  }
  .s_cart_h {
    display: none;
  }
  .price {
    text-align: right;
  }
  .addto_cart {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .scart {
    float: right;
    width: 90px;
    margin-left: -20px;
  }
  .cart_count {
    display: flex;
    margin: 0px -22px;
    padding: 0px 10px;
  }
  .navbar ul li {
    list-style: none;
    text-decoration: none;
    color: #999999;
    font-size: 10px;
    font-weight: 400;
    display: none;
  }
  .call_now_top {
    justify-content: center;
  }
  .call_now {
    font-size: 12px;
  }
  .nmbr {
    display: none;
  }
  .call_ico {
    display: block;
  }
  .image_top_Slider {
    width: 90%;
    max-width: 640px;
    margin: 10px auto;
  }
}
/* End Of First Break Point  */

/* Second Break Point */
@media (min-width: 576px) and (max-width: 767.98px) {
  .loc_txt {
    font-size: 10px;
    color: #333333;
    margin-left: 5px;
    font-weight: 400;
  }

  .slct {
    border: none;
    margin: 0 4px;
    font-size: 8px;
  }
  .login {
    color: #002603;
    padding: 8px 10px;
    font-size: 10px;
    font-weight: 500;
    margin-left: 5px;
  }
  .container {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 20px px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  .logo_img {
    max-width: 20px;
    max-height: 20px;
  }
  .logo_h {
    font-size: 15px;
    font-weight: 600;
    color: #002603;
    margin-left: 5px;
  }
  /* Search Bar */
  .search {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search_input {
    width: 70%;
    max-width: 250px;
    height: 40px;
    border: 1px solid #333333;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
  }
  .search_btn {
    width: 45px;
    height: 40px;
    background: #00b207;
    border: none;
    border-radius: 0px 3px 3px 0px;
    margin-left: -4px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  /* Add To Cart */
  .loved {
    display: none;
  }
  .line {
    display: none;
  }
  .s_cart_h {
    display: none;
  }
  .price {
    text-align: right;
  }
  .addto_cart {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .scart {
    float: right;
    width: 90px;
    margin-left: -20px;
  }
  .cart_count {
    display: flex;
    margin: 0px -22px;
    padding: 0px 10px;
  }
  .navbar ul li {
    list-style: none;
    text-decoration: none;
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    display: none;
  }
}

/* Third Break Point */

@media (min-width: 768px) and (max-width: 1210px) {
  .location_login {
    padding: 10px 0;
    width: 90%;
    height: 42px;
    max-width: 1150px;
    margin: 0 auto;
  }
  .location {
    float: left;
    width: 50%;
  }
  .loc_ico {
    text-decoration: none;
  }
  .loc_i {
    color: #333333;
  }
  .loc_txt {
    display: inline-block;
    font-size: 12px;
    color: #333333;
    margin-left: 8px;
    font-weight: 400;
  }
  /* Select , Login , Sign Up Section */

  .sign_sec {
    float: right;
    width: 50%;
    text-align: right;
  }
  .slct {
    border: none;
    margin: 0 10px;
    font-size: 12px;
    background-color: #fff;
  }
  .login {
    color: #002603;
    padding: 8px 15px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
  }
  /* Logo,Search Section */

  .container {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo_img {
    max-width: 30px;
    max-height: 30px;
  }
  .logo_h {
    font-size: 20px;
    font-weight: 600;
    color: #002603;
    margin-left: 10px;
  }
  /* Search Bar */
  .search {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search_input {
    width: 60%;
    max-width: 450px;
    height: 40px;
    border: 1px solid #333333;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
  }
  .search_btn {
    width: 50px;
    height: 40px;
    background: #00b207;
    border: none;
    border-radius: 0px 3px 3px 0px;
    margin-left: -4px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  /* Add To Cart */
  .addto_cart {
    display: flex;
    align-items: center;
  }
  .loved {
    font-size: 30px;
    font-weight: 400;
    margin-right: 10px;
  }
  .line {
    width: 1px;
    height: 30px;
    background: #333333;
    margin: 10px 10px 10px 0px;
  }
  .cart_count {
    display: flex;
    margin: 0px 10px;
  }
  .heart_icon {
    text-decoration: none;
    color: #333333;
  }
  .cartico {
    font-size: 30px;
  }
  .count {
    width: 20px;
    height: 20px;
    background: #00b207;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    margin-top: -5px;
  }
  .scart {
    float: right;
    width: 90px;
  }
  .s_cart_h {
    font-size: 12px;
    font-weight: 400;
  }
  .price {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
  }
  /* Navigation Bar Starts Here */
  .nav_cont {
    width: 100%;
    margin: 0 auto;
    height: 50px;
    display: flex;
    background: #1a1a1a;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  }

  .navbar {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    background: #1a1a1a;
  }
  ul li,
  a {
    list-style: none;
    text-decoration: none;
    color: #999999;
    font-size: 10px;
    font-weight: 400;
    display: inline-block;
  }
  ul li {
    padding: 4px 6px;
  }
  /* Call To Action On Top */
  .call_now_top {
    width: 100px;
    height: 50px;
    color: #ffff;
    display: flex;
    align-items: right;
    justify-content: right;
    margin-left: 210px;
  }
}
